@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1,
.h1 {
  @apply text-2xl md:text-3xl lg:text-[40px] lg:leading-normal font-bold;
}

h2,
.h2 {
  @apply text-[20px] lg:text-[32px] leading-normal font-normal;
}
h3,
.h3 {
  @apply text-[20px] lg:text-[28px] leading-tight font-normal;
}

h4,
.h4 {
  @apply text-base leading-tight font-semibold;
}

p {
  @apply text-base leading-normal;
}

.label {
  @apply text-[12px] leading-none;
}

a {
  text-decoration: none;
  font-size: inherit;
}
